<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <h1>Tech Blog</h1>
      <div class="nav-links">
        {{!-- Check if the user is logged in --}}
        {{#if user}}
          <a href="/dashboard">Dashboard</a>
          <a href="/logout">Logout</a>
        {{else}}
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
        {{/if}}
      </div>
    </nav>
  </header>

  <main>
    {{!-- Yield the main content --}}
    {{#yield "main"}}
    {{/yield}}
  </main>

  <footer>
    <p>&copy; 2023 Tech Blog. All rights reserved.</p>
  </footer>

  <script src="/js/main.js"></script>
</body>

</html>
