{{#if blogs.length}}
<section>
  <h2>Recent Blogs</h2>
  <div class="post-container">
    {{#each blogs}}
      {{> dashboardpost}}
      {{blogs.content}}
    {{/each}}
  </div>
</section>
{{/if}}

<a class="link btn" href="/dashboard/new">Add Post</a>