 <main class="form-signin text-center">
  <form id="signup-form">
    <h1 class="h3 mb-3 fw-normal">Sign Up Now</h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="email-signup" placeholder="Email" autofocus="true">
      <label for="email-signup">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password-signup" placeholder="Password" autofocus="true">
      <label for="password-signup">Password</label>
      <div id="emailHelp" class="form-text text-primary">Password must be at least 8 characters long.</div>
    </div>

    <button class="w-100 btn btn-lg btn-info mb-3" type="submit">Sign Up</button>
    <a class="login-link" href="/login">Login</a>
  </form>
</main>

<script src="/js/signup.js"></script>