{{!-- Include the main layout --}}
{{> main}}

{{!-- Set the page title --}}
{{#settitle}}Single Post{{/settitle}}

{{!-- Begin the content --}}
{{#content "main"}}
  <h1>Single Post</h1>
  <p>This is a single post view.</p>
{{/content}}
