{{> postdata blog}}

{{#if logged_in}}
<div class="card">
  <h3 class="card-header"></h3>
  <form class="card-body comment-form" id="comment-form">
    <label class="form-label">Comment</label>
    <input id="comment-text" name="comment_text" class="form-input" />

    <input type="hidden" id="blog-id" value="{{blog.id}}" />

    <button type="submit" class="btn">Submit</button>
  </form>
</div>
{{/if}}

<div class="card">
  <h4>Comments</h4>
  {{#if blog.comments.length}}
    {{#each blog.comments}}
      <div class="form-label">
        <p><strong>Commentor User ID:</strong> {{this.user_id}}</p>
        <p><strong>Comment:</strong> {{this.comment_text}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>No comments yet.</p>
  {{/if}}
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
